/* Colour Palette 
/-----------------
#FF6B40 flame colour
#0C2343 text colour
#00BAE4 background colour

*/

/* Fonts
/-------
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: rgb(220, 229, 238);
}

nav {
	
	background-color: blanchedalmond;
}
ul{
	padding:0;
	list-style:none;
}

nav img{
	height: 80px;
	width:80px;
}


















